/* Clearfix mixin */

@mixin clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

/* Media mixins to create responsive styles easily */

@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: $sm-min) { @content; }
  }
  @else if $point == md {
    @media (min-width: $md-min) { @content; }
  }
  @else if $point == lg {
    @media (min-width: $lg-min) { @content; }
  }
}

@mixin max-breakpoint($point) {
  @if $point == sm {
    @media (max-width: $xs-max) { @content; }
  }
  @else if $point == md {
    @media (max-width: $sm-max) { @content; }
  }
  @else if $point == lg {
    @media (max-width: $md-max) { @content; }
  }
}

@mixin for-breakpoint($point) {
  @if $point == xs {
    @media (max-width: $xs-max) { @content; }
  }
  @else if $point == sm {
    @media (min-width: $sm-min) and (max-width: $sm-max) { @content; }
  }
  @else if $point == md {
    @media (min-width: $md-min) and (max-width: $md-max) { @content; }
  }
  @else if $point == lg {
    @media (min-width: $lg-max) { @content; }
  }
}

@mixin cols($number, $add: null, $subtract: null) {
  @if ($add) {
    width: calc(#{percentage($number / 12)} + #{$add});
  }
  @else if ($subtract) {
    width: calc(#{percentage($number / 12)} - #{$subtract});
  }
  @else {
    width: percentage($number / 12);
  }
}

@mixin offset($number, $add: null, $subtract: null) {
  @if ($add) {
    margin-left: calc(#{percentage($number / 12)} + #{$add});
  }
  @else if ($subtract) {
    margin-left: calc(#{percentage($number / 12)} - #{$subtract});
  }
  @else {
    margin-left: percentage($number / 12);
  }
}

@mixin shadow {
  box-shadow: 0 1px 3px 0 #dce0e0;
}

@mixin vertical-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
